 <div class="chat-area">
    <form class="form123" method="post" action="/">
        <textarea name="changetheurl" class="inputarea" id="" cols="30" rows="1"></textarea>
        <a href=""><button class="button123" type="submit">"click me</button></a>

    </form>
    </div>
 <script>
 </script>   
</body>
</html>